<style>
  footer.blue a {
    color: white;
  }
</style>
<br />
<!-- Footer -->
<footer class="page-footer footer-classic context-dark blue font-small blue pt-4 accent" style="padding-top: 0rem!important;">
  
  <div class="footer-copyright text-center py-3">
    <i class=emoji>:robot_face:</i> Plum Bot – © 2018-<%= new Date().getFullYear() %> Samplasion#0325 <br> 
 <a href="https://discordbots.org/bot/503183561306669056" >
  <img src="https://discordbots.org/api/widget/status/503183561306669056.svg?noavatar=true" alt="Luigi Beta" />
</a>
  </div>

</footer>

<script src="/scripts/rainbow.js"></script>
<script src="https://rawcdn.githack.com/ccampbell/rainbow/master/src/language/javascript.js"></script>
<% include ../partials/scripts %>