<style>
  footer.blue a {
    color: white;
  }
</style>
<br />
<!-- Footer -->
<footer class="page-footer footer-classic context-dark blue font-small blue pt-4 accent" style="padding-top: 0rem!important;">
  
  <div class="footer-copyright text-center py-3">
    <i class=emoji>:robot_face:</i> <%= client.user.username %> – © 2020-<%= new Date().getFullYear() %> Samplasion#0325 <br> 
  </div>

</footer>

<script src="/scripts/rainbow.js"></script>
<script src="https://rawcdn.githack.com/ccampbell/rainbow/master/src/language/javascript.js"></script>
<% include ../partials/scripts %>
</body>