<style>
  footer.blue a {
    color: white;
  }
</style>
<br />
<!-- Footer -->

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <i class=emoji>:robot_face:</i> 
            <a href="/"><%= client.user.username %></a> – © 
            <% if (new Date().getFullYear() != 2020) { %>2020 -<% } %>
            <%= new Date().getFullYear() %> Samplasion#0325
        </p>
    </div>
</footer>

<script src="/scripts/rainbow.js"></script>
<script src="https://rawcdn.githack.com/ccampbell/rainbow/master/src/language/javascript.js"></script>
<% include ../partials/scripts %>
</body>