<% include ../../../partials/head %>
<% include ../../../partials/nav %>
<div class="container page">
    <h1 class="title">This page doesn't exist... yet.</h1>
</div>
<% include ../../../partials/footer %>