<% include ../../../partials/head %>
<% include ../../../partials/nav %>
<div class="container content page">
    <h1 class="title is-1 has-text-centered">User dashboard</h1>
    <h3 class="subtitle is-3 has-text-centered"><%= user.tag %></h3>
    <% let ch = client.channels.cache.filter(c => c.guild.members.resolve(user.id) && c.sendable) %>
    <div class="row">
        <div class="col-6-md">
            <hr>
            <h5>User configuration</h5>
            <a href="/user/config/view">View →</a>
            |
            <a href="/user/config/edit">Edit →</a>
        </div>
        <div class="col-6-md">
            <hr>
            <h5>Stats</h5>
            <p>
                <ul>
                    <li>Servers we share: <%= client.guilds.cache.filter(g => g.members.resolve(user.id)).size %></li>
                    <li>
                        Channels I can see you in: <%= ch.size || "None" %>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
<% include ../../../partials/footer %>