<!DOCTYPE html>
<html lang="en">
    <% var subtitle = "" %>
    <% include ../../partials/head %>
    <% include ../../partials/nav %>
    
    <!-- Content -->
      
    <% include ../../partials/footer %>
</html>