<!DOCTYPE html>
<html lang="en">
    <% var subtitle = "" %>
    <% include ../partials/head %>
    <% include ../partials/nav %>

    <div class="container page">
        <h1 class="title">About</h1>
        <p class="subtitle">Plum is made by these people:</p>

        <div class="columns is-multiline">
            <% for (let owner of client.owners) { %>
                <div class="media">
                    <img class="mr-3" width="64" height="auto" src="<%- owner.displayAvatarURL({ format: "png", size: 512 }) %>" alt="<%= owner.username %>'s avatar'">
                    <div class="media-body">
                        <h5 class="mt-0"><%= owner.username %></h5>
                        <p>@<%= owner.tag %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <% include ../partials/footer %>

</html>