<!DOCTYPE html>
<html lang="en">

<% var subtitle = "Command List" %>
<% include ../partials/head %>
<% include ../partials/nav %>
<% var command = cmd %>

<br>
<h1 style="text-align: center; min-width: 100% !important;" width="100%">Help for command: <%= cmd.name %></h1>
<div class="container">
    <p><%= cmd.description %></p>
    <div class="column">
        <%
            let lims = [];
	        if (command.guildOnly)
	            lims.push(`${client.utils.emojis.server} Guild only`);
	        if (command.ownerOnly || command.permLevel == 10)
	            lims.push(`${client.utils.emojis.user} Bot owner only`);
            if (command.nsfw)
                lims.push(`${client.utils.emojis.channel} NSFW channels only`);
            if (command.premium)
                lims.push(`${client.utils.emojis.premium} Premium users only`);
        %>
        <% if (lims.length) { %>
            <div class="row-4-sm">
                <h2>Limitations</h2>
                <ul>
                    <%= lims.map(l => `<li>${l}</li>`) %>
                </ul>
            </div>
        <% } %>
    </div>
</div>

<% include ../partials/footer %>


</html>