<% include ../partials/head %>
<% include ../partials/nav %>

<div class="container page">
    <h1 class="title">Privacy Policy</h1>

    <p>The terms contained in this document are defined <a href="/terms#1-terms-and-technicalities">here</a>.</p>

    <p>For us, the Developers of the Service, one of the main priorities
        is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and
        recorded by <%= client.user.username %> and how we use it.</p>

    <h2>Data that can be stored</h2>

    <h3>The following data is stored in our databases:</h3>
    <ul>
        <li>
            <b>User IDs</b>: These are used to identify you from the other users for reminders and other things that need to be persisted across reboots and applies to you uniquely.
        </li>
        <li><b>Role IDs</b>, <b>Server IDs</b> and <b>Channel IDs</b>: These are stored for server configuration purposes.</li>
    </ul>

    <h3>The following data is not stored in our databases:</h3>

    <h4>Data stored in caches</h4>
    
    <p>
        Discord.js, the library used by the Developer to develop the Bot, stores all the data it
        can access under "caches". Caches are destryoed and recreated on reboot.
    </p>

    <h4>Data stored on Discord</h4>

    <p>
        Some data we need is sent to us through Discord messages. Those reside on the Discord servers
        and are hard, if not impossible, for us to completely erase. The data contains:
    </p>

    <ul>
        <li>Message contents</li>
        <li>Message IDs</li> 
        <li>Server names</li>
        <li>Server names</li>
    </ul>

    <h2>Requesting data deletion</h2>

    <p>To request deletion of data, you may contact us <a href="/server"> in this server</a>.</p>

    <p>
        Some data isn't deleted because it would lead to exploitation (for example, blacklists)
    </p>

    <div class="tos note">
        <h1 class="title">Privacy Policy Modifications</h1>

        <p>The <%= client.user.username %> staff may revise this Privacy Policy for its Service at any time without prior notice. By
            using this Website, you are agreeing to be protected by the current version of this Privacy Policy.
        </p>
    </div>
</div>

<% include ../partials/footer %>